
<h1>Welcome, <%= current_admin.username %>!</h1>
<div style="margin:auto;max-width:852px;">
    <%= link_to 'Add a New Link', new_link_path, {class: 'btn btn-primary admin', style: "margin-right: 10px;"} %>
    <%= link_to 'Add a New Volunteer Site', new_volunteer_site_path, {class: 'btn btn-primary admin', style: "margin-right: 10px;"} %>
    <%= link_to 'Add a New Class', new_site_path, {class: "btn btn-primary admin", style: "margin-right: 10px;"}  %>
    <%= link_to 'Add a New Blog Post', posts_path, {class: "btn btn-primary admin", style: "margin-right: 10px;"}  %>
    <%= link_to 'Log out', log_out_path, class: 'btn btn-danger admin' %>
  </div>
  <div class="content-bg" style="margin-top:20px;max-width:855px;">
    <h2>Recent Site Update Requests</h2>
      <% @edit_sites.each do |site| %>
        <h3>Site submitted by: <%= site.user_name %></h3>
        <p>On: <%= site.created_at.strftime('%B %d, %Y') %></p>
        <p>Email: <%= site.user_email %></p>
        <p>Updates: <%= simple_format(site.site_updates) %></p>
      <% end %>
    <h2>Recent Site Submission Requests</h2>
      <% @submit_sites.each do |site| %>
        <h3>Site submitted by: <%= site.user_name %></h3>
        <p>On: <%= site.created_at.strftime('%B %d, %Y') %></p>
        <p>Email: <%= site.user_email %></p>
        <p>Site Name: <%= site.site_name %></p>
        <p>Address: <%= site.site_address %></p>
        <p>Contact information: <%= site.site_contact %></p>
        <p>URL: <%= site.site_url %></p>
        <p>Description: <%= simple_format(site.site_description) %></p>
      <% end %>
  </div>
