<div class="search-nav">
  <%= form_tag root_path, method: 'get', role: 'search' do %>
    <%= label_tag :center, 'Find a Class Near You:' %>
    <%= text_field_tag :center, params[:center], placeholder: 'Enter Zip Code', class: 'form-control', id: 'center-map' %>
    <%= submit_tag 'Search', name: nil, class: 'btn btn-primary' %>
  <% end %>
  <% if @center %>
  <p> Your search: <%= @center %></p>
  <% end %>
</div>


<div id="map-container">
  <div id="map"></div>
</div>

<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%= raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.map.centerOn(<%= @center_on %>);
    handler.getMap().setZoom(<%= @zoom %>);
  });
</script>
