<h1>Student Learning Resources</h1>
<div class="content-bg">
  <% if current_admin %>
  <%= link_to 'Add a New Link', new_link_path, class: "btn btn-primary"  %>
  <% end %>
<% if @general.length > 0 %>
  <h3>General</h3>
  <ul class="links-display">
    <% @general.each do |link| %>
    <li id="link_display_<%=link.id%>"><%= render partial: 'display_link', locals: { link: link } %></li>
    <% end %>
  </ul>
<% end %>
<% if @listening.length > 0 %>
  <h3>Listening</h3>
  <ul class="links-display">
    <% @listening.each do |link| %>
    <li id="link_display_<%=link.id%>"><%= render partial: 'display_link', locals: { link: link } %></li>
    <% end %>
  </ul>
<% end %>
<% if @pronunciation.length > 0 %>
  <h3>Pronunciation</h3>
  <ul class="links-display">
    <% @pronunciation.each do |link| %>
    <li id="link_display_<%=link.id%>"><%= render partial: 'display_link', locals: { link: link } %></li>
    <% end %>
  </ul>
<% end %>
<% if @writing.length > 0 %>
  <h3>Writing</h3>
  <ul class="links-display">
    <% @writing.each do |link| %>
    <li id="link_display_<%=link.id%>"><%= render partial: 'display_link', locals: { link: link } %></li>
    <% end %>
  </ul>
<% end %>
<% if @literacy.length > 0 %>
  <h3>Literacy</h3>
  <ul class="links-display">
    <% @literacy.each do |link| %>
    <li id="link_display_<%=link.id%>"><%= render partial: 'display_link', locals: { link: link } %></li>
    <% end %>
  </ul>
<% end %>
<% if @GED.length > 0 %>
  <h3>GED</h3>
  <ul class="links-display">
    <% @GED.each do |link| %>
    <li id="link_display_<%=link.id%>"><%= render partial: 'display_link', locals: { link: link } %></li>
    <% end %>
  </ul>
<% end %>
<% if @computer.length > 0 %>
  <h3>Computer Skills</h3>
  <ul class="links-display">
    <% @computer.each do |link| %>
    <li id="link_display_<%=link.id%>"><%= render partial: 'display_link', locals: { link: link } %></li>
    <% end %>
  </ul>
<% end %>
<% if @citizenship.length > 0 %>
  <h3>Citizenship Resources</h3>
  <ul class="links-display">
    <% @citizenship.each do |link| %>
    <li id="link_display_<%=link.id%>"><%= render partial: 'display_link', locals: { link: link } %></li>
    <% end %>
  </ul>
<% end %>
</div>
