<h2><%= link_to site.name, site.url %></h2>
<% if site.address.present? %>
<p>Address: <%= site.address %> <%= site.city %>,<%= site.state %> <%= site.zip %></p>
<% end %>
<% if site.contact.present? %>
<p>Contact: <%= site.contact %>
<% end %>
<% if site.description.present? %>
<p>Description: <%= simple_format(site.description) %></p>
<% end %>
<% if site.description.present? %>
<p>Level: <%= site.level %></p>
<% end %>
<% if current_admin %>
  <span id="edit_volunteer_site_button_<%=site.id%>">
    <%= link_to edit_volunteer_site_path(site), class: "btn btn-primary", id: "edit-volunteer-site" do %>
      <i class="glyphicon glyphicon-pencil"></i>
    <% end %>
  </span>
  <%= link_to volunteer_site_path(site), class: "btn btn-primary", id: "delete-volunteer-site", data: {confirm: "Are you sure you'd like to delete this volunteer site?", method: "delete"} do %>
    <i class="glyphicon glyphicon-trash"></i>
  <% end %>
<% end %>
