<h1>Learn English in the Real World</h1>
<br>
<% if current_admin %>
  <%= link_to 'Add a New Volunteer Site', new_volunteer_site_path, class: "btn btn-primary"  %>
<% end %>

<div class="dropdown">
  <button class="dropdown-toggle btn btn-primary" type="button" data-toggle="dropdown">Choose a Level
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><%= link_to 'All Sites', volunteer_sites_path %></li>
    <li><a href="?level=all">All Levels Accepted</a></li>
    <li><a href="?level=beginner">Beginner</a></li>
    <li><a href="?level=intermediate">Intermediate</a></li>
    <li><a href="?level=advanced">Advanced</a></li>
  </ul>
  <%= paginate @sites, theme: 'twitter-bootstrap-3', pagination_class: 'pagination-small pagination-centered' %>
</div>

<% if @sites.length > 0 %>
<ul class="volunteer-sites-display">
  <% @sites.each do |site| %>
  <li id="volunteer_site_display_<%=site.id%>"><%= render partial: 'display_volunteer_site', locals: { site: site } %></li>
  <% end %>
</ul>
<% else %>
  <p>There are no volunteer sites for your selected level.</p>
<% end %>

<br>
<div id="volunteer-map-container">
  <div id="volunteer-map"></div>
</div>
<% else %>
<p> There are no volunteer sites for this level.</p>
<% end %>

<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'volunteer-map'}}, function(){
    markers = handler.addMarkers(<%= raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.map.centerOn(<%= @center_on %>);
    handler.getMap().setZoom(<%= @zoom %>);
  });
</script>
