<h3><%= post.title %></h3>
<h5>By <%= post.admin.username %></h5>
<h6>Posted <%= post.created_at.strftime('%B %d, %Y') %></h6>
<article role="article">
  <p><%= post.content %></p>
</article>
<% if is_author(post) %>
  <span id="edit_post_link_<%=post.id%>">
    <%= link_to edit_admin_post_path(current_admin, post), class: "btn btn-success", id: 'edit-post', remote: true do %>
      <i class="glyphicon glyphicon-pencil"></i>
    <% end %>
  </span>
  <%= link_to admin_post_path(current_admin, post), class: "btn btn-danger", id: 'delete-post', data: {confirm: "Are you sure you'd like to delete this post?", method: "delete"} do %>
    <i class="glyphicon glyphicon-trash"></i>
  <% end %>
<% end %>
<hr>
