<h3><%= post.title %></h3>
<h5>By <%= post.admin.username %></h5>
<h6>Posted <%= post.created_at.strftime('%B %d, %Y') %></h6>
<article role="article">
  <p><%= post.content %></p>
</article>
<% if is_author(post) %>
  <%= link_to "Edit Post", edit_admin_post_path(current_admin, post), :class => "btn btn-success" %>
  <%= link_to "Delete Post", admin_post_path(current_admin, post), :class => "btn btn-danger", :data => {confirm: "Are you sure you'd like to delete this post?", method: "delete"} %>
<% end %>
