
<div class="form-inline">
  <%= form_tag sites_path, method: 'get', role: 'search' do %>
    <%= text_field_tag :site, params[:site], class: 'form-control eighty', id: 'site-search' %>
    <%= submit_tag 'Search Classes', name: nil, :class => params[:site] ? 'btn btn-success' : 'btn btn-primary' %>
  <% end %>  
</div>
<div class="dropdown">
  <% if params[:region]%>
    <button class="dropdown-toggle btn btn-success" type="button" data-toggle="dropdown"><%= @selected_search %>
    <span class="caret"></span></button>
  <% else %>
    <button class="dropdown-toggle btn btn-primary" type="button" data-toggle="dropdown"><%= @selected_search %>
    <span class="caret"></span></button>
  <% end %>
  <ul class="dropdown-menu">
    <li><a href="/sites">All</a></li>
    <li><a href="?region=north-northeast">North/Northeast</a></li>
    <li><a href="?region=south-southeast">South/Southeast</a></li>
    <li><a href="?region=southwest">Southwest</a></li>
    <li><a href="?region=downtown">Downtown</a></li>
    <li><a href="?region=gresham">Gresham</a></li>
    <li><a href="?region=washington-county">Washington County</a></li>
    <li><a href="?region=clark-county">Clark County</a></li>
    <li><a href="?region=other-areas">Other Areas</a></li>
  </ul>
  <%= link_to 'Volunteers Needed', '?volunteers_needed=true', :class => params[:volunteers_needed] ? 'btn btn-success' : 'btn btn-primary' %>
  <% if params!={"controller"=>"sites", "action"=>"index"} %>
  <%= link_to 'See All Classes', sites_path, :class => params=={"controller"=>"sites", "action"=>"index"} ? 'btn btn-success' : 'btn btn-primary' %> 
  <% end %> 
</div>
<br>
<!-- <% if current_admin %>
  <div class="btn-group" role="group">
    <a href="?happening=in-session"><button type="button" class="btn btn-primary"><i class="glyphicon glyphicon-ok" style="color:green"></i> In Session</button></a>
    <a href="?happening=not-in-session"><button type="button" class="btn btn-primary"><i class="glyphicon glyphicon-remove" style="color:red"></i> Not in Session</button></a>
    <a href="/sites"><button type="button" class="btn btn-primary">All</button></a>
  </div>
<% end %> -->
<div class="content-bg">
  <% if current_admin %>
    <%= link_to '+ Add a New Class', new_site_path, class: "btn btn-primary right top"  %>
  <% end %>
  <% if !current_admin %>
    <%= link_to '+ Add a New Class', submit_sites_path, class: "btn btn-primary right top"  %>
  <%end%>  
  <% if @sites.length > 0 %>
    <div style="display: inline-block;">
      <i class="fas fa-wifi" style="color:#484842"></i> = Virtual 
    </div>
    <div style="display: inline-block; margin-left: 10px;">
      <i class="fas fa-user" style="color:#484842"></i> = In-Person 
    </div>
    <div style="display: inline-block; margin-left: 10px; margin-bottom: 5px;">
      <i class="fas fa-wifi" style="color:#484842"></i><i class="fas fa-user" style="color:#484842"></i> = Hybrid or Flexible 
    </div>
    <% if current_admin %>
          <% @sites.each do |site| %>
              <div>
              <% if site.happening_now == 'Yes' %>
                <i class="glyphicon glyphicon-ok left" style="color:green"></i>
              <% else %>
                <i class="glyphicon glyphicon-remove left" style="color:red"></i>
              <% end %>
                <% if site.class_format.present? %>
                    <% if site.class_format == 'Virtual' || site.class_format == "Hybrid" || site.class_format == "Flexible" %>
                    <i class="fas fa-wifi left" style="color:#484842"></i> 
                    <% end %>
                    <% if site.class_format == 'In-Person' || site.class_format == "Hybrid" || site.class_format == "Flexible" %>
                    <i class="glyphicon glyphicon-user left" style="color:#484842"></i> 
                    <% end %>                  
                <% end %>         
                <h3 style="margin-top:5px"><%= link_to site.name, site_path(site), class: 'site-link' %></h3>
              </div>

              <p>
                Address: <%= site.address %> <%= site.city %>, <%= site.state %> <%= site.zip %>
              </p>
              <p>
                <% if site.description.present? %>
                <p>Description: <%= truncate(site.description, length: 75, separator: ' ')%> </p>
                <p><%= link_to 'More Details', site_path(site), class: 'site-link' %></p>
                <% else %>
                <p>Description: No description provided yet.</p>
                <p><%= link_to 'More Details', site_path(site), class: 'site-link' %></p>
                <% end %>
              </p>
          <% end %>
        <%= paginate @sites, theme: 'twitter-bootstrap-3', pagination_class: 'pagination-small pagination-centered' %>
    <% else %>
        <% @sites.each do |site| %>
        <div>
        <% if site.class_format.present? %>
            <% if site.class_format == 'Virtual' || site.class_format == "Hybrid" || site.class_format == "Flexible" %>
            <i class="fas fa-wifi left" style="color:#484842"></i> 
            <% end %>
            <% if site.class_format == 'In-Person' || site.class_format == "Hybrid" || site.class_format == "Flexible" %>
            <i class="glyphicon glyphicon-user left" style="color:#484842"></i> 
            <% end %>                  
        <% end %>         
        <h3 style="margin-top: 5px;"><%= link_to site.name, site_path(site), class: 'site-link' %></h3>
        </div>
        

        <p>
          Address: <%= site.address %> <%= site.city %>, <%= site.state %> <%= site.zip %>
        </p>
        <p>
          <% if site.description.present? %>
          <p>Description: <%= truncate(site.description, length: 75, separator: ' ') %></p>
          <p><%= link_to 'More Details', site_path(site), class: 'site-link' %></p>
          <% else %>
          <p>Description: No description provided yet.</p>
          <p><%= link_to 'More Details', site_path(site), class: 'site-link' %></p>
          <% end %>
        </p>
        <% end %>
      <%= paginate @sites, theme: 'twitter-bootstrap-3', pagination_class: 'pagination-small pagination-centered' %>
    <% end %>
  <% else %>
  <p> Sorry, no classes matched your search. </p>
  <% end %>
</div>
