<h1>ESL Classes in the Portland Metro Area</h1>

<%= form_tag sites_path, method: 'get' do %>
  <%= text_field_tag :search, params[:search], class: 'form-control' %>
  <%= submit_tag 'Search Classes', name: nil, class: 'btn btn-primary' %>
<% end %>

<div class="dropdown">
  <button class="dropdown-toggle btn btn-primary" type="button" data-toggle="dropdown">Choose a Region
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="/">All</a></li>
    <li><a href="?region=north-northeast">North/Northeast</a></li>
    <li><a href="?region=south-southeast">South/Southeast</a></li>
    <li><a href="?region=southwest">Southwest</a></li>
    <li><a href="?region=downtown">Downtown</a></li>
    <li><a href="?region=gresham">Gresham</a></li>
    <li><a href="?region=washington-county">Washington County</a></li>
    <li><a href="?region=clark-county">Clark County</a></li>
    <li><a href="?region=other-areas">Other Areas</a></li>
  </ul>
</div>


<% if @sites.length > 0 %>
  <ul>
    <% @sites.each do |site| %>
      <li><%= link_to site.name, site_path(site) %></li>
    <% end %>
  </ul>
<% else %>
  <p> Sorry, no classes matched your search. </p>
<% end %>

<%= link_to 'Add a New Class', new_site_path, :class => "btn btn-primary"  %>
