<h1><%= @site.name %></h1>

<p>Address: <%= @site.address %>\n<%= @site.city %>,<%= @site.state %> <%= @site.zip %></p>
<p>Contact: <%= @site.contact %> <%= @site.phone %> <%= @site.email %></p>
<p>Website: <%= link_to @site.url, url_with_protocol(@site.url), :target => '_blank' %></p>
<p>Description: <%= @site.description %></p>

<p><%= link_to "Edit Class Information", edit_site_path(@site) %></p>
<p><%= link_to "Delete this Class", site_path(@site), :data => {confirm: "Are you sure you'd like to delete this class?", method: "delete"} %></p>
<p><%= link_to "Home", root_path %></p>
