<h1><%= @site.name %></h1>
<div class="content-bg">
  <% if current_admin %>
  <%= link_to edit_site_path(@site), class: "btn btn-primary", id: "edit-site" do %>
  <i class="glyphicon glyphicon-pencil"></i>
  <% end %>
  <%= link_to site_path(@site), class: "btn btn-primary", id: "delete-site", data: {confirm: "Are you sure you'd like to delete this class?", method: "delete"} do %>
  <i class="glyphicon glyphicon-trash"></i>
  <% end %>
  <% end %>
  <p>Address:
    <%= link_to "http://www.google.com/maps/search/#{@site.address}#{@site.city}#{@site.state}#{@site.zip}", target:"_blank" do %>
      <%= @site.address %> <%= @site.city %>, <%= @site.state %> <%= @site.zip %>
    <% end %>
  </p>
  <% if @site.phone.present? %>
  <p>Phone: <%= tel_to(@site.phone) %></p>
  <% end %>
  <% if @site.url.present? %>
  <p>Website: <%= link_to @site.url, url_with_protocol(@site.url), target: '_blank' %></p>
  <% end %>
  <% if @site.description.present? %>
  <p>Description: <%= simple_format(@site.description) %></p>
  <% else %>
  <p>Description: No description provided yet.</p>
  <% end %>
  <p>Last updated: <%= @site.updated_at.strftime('%B %d, %Y') %></p>
  <% if current_admin %>
  <h3>Admin Information</h3>
  <p>Class or Resource: <%= @site.class_resource %></p>
  <p>Site type: <%= @site.site_type %></p>
  <p>Happening now?: <%= @site.happening_now %></p>
  <p>Notes: <%= @site.notes %></p>
  <p>Region: <%= @site.region %></p>
  <p>Summer classes?: <%= @site.summer_classes %></p>
  <p>Students served?: <%= @site.students_served %></p>
  <% end %>
</div>
<div id="site-map-container">
  <div id="site-map"></div>
</div>
<br>
<br>

<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'site-map'}}, function(){
    markers = handler.addMarkers(<%= raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.map.centerOn(<%= @center_on %>);
    handler.getMap().setZoom(<%= @zoom %>);
  });
</script>
