<h1><%= @site.name %></h1>
<div class="content-bg">
  <% if current_admin %>
  <%= link_to edit_site_path(@site), class: "btn btn-primary", id: "edit-site" do %>
  <i class="glyphicon glyphicon-pencil"></i>
  <% end %>
  <%= link_to site_path(@site), class: "btn btn-primary", id: "delete-site", data: {confirm: "Are you sure you'd like to delete this class?", method: "delete"} do %>
  <i class="glyphicon glyphicon-trash"></i>
  <% end %>
  <% end %>
  <h4>Class Information</h4>
  <p>Address:
    <%= link_to "http://www.google.com/maps/search/#{@site.address}#{@site.city}#{@site.state}#{@site.zip}", target:"_blank" do %>
      <%= @site.address %> <%= @site.city %>, <%= @site.state %> <%= @site.zip %>
    <% end %>
  </p>
  <% if @site.url.present? %>
  <p>Website: <%= link_to @site.url, url_with_protocol(@site.url), target: '_blank' %></p>
  <% end %>
  <% if @site.contact.present? %>
  <p>Contact: <%= @site.contact %></p>
  <% end %>
  <% if @site.phone.present? %>
  <p>Phone: <%= tel_to(@site.phone) %></p>
  <% end %>
  <% if @site.email.present? %>
  <p>Email: <%= mail_to(@site.email) %></p>
  <% end %>
  <!-- Days -->
  <% if @site.days_offered.reject(&:empty?).length > 0 %>
  <p>Days Offered: <%= @site.days_offered.join(", ") %></p>
  <% end %>
  <!-- Time -->
  <% if @site.time_of_day.reject(&:empty?).length > 0 %>
  <p>Time of Day: <%= @site.time_of_day.join(", ") %></p>
  <% end %>
  <!-- Level -->
  <% if @site.level.reject(&:empty?).length > 0 %>
  <p>Level(s): <%= @site.level.join(", ") %></p>
  <% end %>
  <!-- Cost -->
  <% if @site.cost.reject(&:empty?).length > 0 %>
  <p>Cost: <%= @site.cost.join(", ") %></p>
  <% end %>
  <% if @site.description.present? %>
  <p>Description: <%= simple_format(@site.description) %></p>
  <% else %>
  <p>Description: No description provided yet.</p>
  <% end %>
  <!-- Registration -->
  <% if @site.registration_required.present? %>
  <p>Registration: <%= @site.registration_required %></p>
  <% end %>
  <!-- Childcare -->
  <% if @site.childcare.present? %>
  <p>Childcare: <%= @site.childcare %></p>
  <% end %>

  <p>Last updated: <%= @site.updated_at.strftime('%B %d, %Y') %></p>

  <% if @site.volunteers_needed %>
    <hr>
    <h4>Volunteers Needed!</h4>
    <% if @site.vol_coordinator_name.present? %>
    <p>Volunteer Coordinator: <%= @site.vol_coordinator_name %></p>
    <% end %>
    <% if @site.vol_contact.present? %>
    <p>Volunteer Contact: <%= @site.vol_contact %></p>
    <% end %>
    <% if @site.vol_assignment_type.present? %>
    <p>Type of Assignment: <%= @site.vol_assignment_type %></p>
    <% end %>
    <% if @site.vol_time_slots.present? %>
    <p>Time Slots Needed: <%= @site.vol_time_slots %></p>
    <% end %>
    <% if @site.vol_time_commitment.present? %>
    <p>Time Commitment Requested: <%= @site.vol_time_commitment %></p>
    <% end %>
    <% if @site.vol_training_offered.present? %>
    <p>Training Offered?: <%= @site.vol_training_offered ? 'Yes' : 'No' %></p>
    <% end %>
  <% end %>

  <% if current_admin %>
  <hr>
  <h4>Admin Information</h4>
  <p>Class or Resource: <%= @site.class_resource %></p>
  <p>Site type(s): <%= @site.site_type.join(", ") %></p>
  <p>Happening now?: <%= @site.happening_now %></p>
  <p>Notes: <%= @site.notes %></p>
  <p>Region: <%= @site.region %></p>
  <p>Summer classes?: <%= @site.summer_classes %></p>
  <p>Students served?: <%= @site.students_served %></p>
  <% end %>
  <% if !current_admin %>
    <%= link_to 'Submit Updates to Class', edit_sites_path(site: @site), {style: "margin-right: 20px;", class: "btn btn-primary"}  %>
  <%end%>
  <%= link_to "Back to #{@site.region}", "/sites?region=#{@region_link}", class: "btn btn-primary"  %>
  <%= link_to 'Back to All Classes', sites_path, class: "btn btn-secondary"  %>
</div>
<div id="site-map-container">
  <div id="site-map"></div>
</div>
<br>
<br>

<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'site-map'}}, function(){
    markers = handler.addMarkers(<%= raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.map.centerOn(<%= @center_on %>);
    handler.getMap().setZoom(<%= @zoom %>);
  });
</script>
