<!DOCTYPE html>
<html lang="en">
  <head>
    <title>PortlandEslNetwork</title>
    <%= csrf_meta_tags %>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav role="navigation" class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <ul class="nav navbar-nav">
            <li class="navbar-left"><%= link_to "Home", root_path %></li>
            <li class="navbar-left"><%= link_to "Blog", posts_path %></li>
            <% if current_admin %>
              <li class="navbar-right"><%= link_to 'Log out', log_out_path %></li>
              <li class="navbar-right"><a href=#>Logged in as <%= current_admin.username %></a></li>
            <%else%>
              <li class="navbar-left"><%= link_to 'Admin Login', log_in_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="flash-alert">
        <%= flash[:alert] %>
      </div>
      <div class="flash-notice">
        <%= flash[:notice] %>
      </div>
      <main role="main">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
