<!DOCTYPE html>
<html>
  <head>
    <title>PortlandEslNetwork</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= flash[:alert] %>
    <%= flash[:notice] %>
    <%= link_to 'Home', root_path %>
    <% if current_admin %>
      <p>You are logged in as <%= current_admin.username %></p>
      <%= link_to 'Log out', log_out_path %>
    <% else %>
      <%= link_to 'Admin Login', log_in_path %>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
